{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}

{% if error %}

{{ error }}
<br>
<br>
{% endif %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Product Hunt · Create Product</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/sign-in/">

    <!-- Bootstrap core CSS -->
<link href="/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <form class="form-signin" method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <img src="{% static 'logo.png' %}" height="72" width="72"/>
        <br>
        <h1 class="h3 mb-3 font-weight-normal">Create Product</h1>
        <br>
        <label for="title" class="sr-only">Title:</label>
        <input name="title" type="text" id="title" class="form-control" placeholder="title" required autofocus>
        <br>
        <label for="body" class="sr-only">Body:</label>
        <input name="body" type="textbox" id="body" class="form-control" placeholder="body" required>
        <br>
        <label for="url" class="sr-only">URL:</label>
        <input name="url" type="text" id="url" class="form-control" placeholder="url" required autofocus>
        <br>
        <label for="icon" class="sr-only">Icon:</label>
        <input name="icon" type="file" id="icon" class="form-control" placeholder="icon" required autofocus>
        <br>
        <label for="image" class="sr-only">Image:</label>
        <input name="image" type="file" id="image" class="form-control" placeholder="image" required autofocus>
        <br>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create Product!</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

{% endblock %}